<?xml version="1.0"?>
<config>
    <modules>
        <Monogo_Currency>
            <version>1.0.0</version>
        </Monogo_Currency>
    </modules>
    <frontend>       
        <routers>
            <routeurfrontend>
                <use>standard</use>
                <args>
                    <module>Monogo_Currency</module>
                    <frontName>currency</frontName>
                </args>
            </routeurfrontend>
        </routers>   
        <layout>
            <updates>
                <currency>
                    <file>currency.xml</file>
                </currency>
            </updates>
        </layout> 
    </frontend>
    <global>
        <models>
            <Monogo_Currency>
                <class>Monogo_Currency_Model</class>
            </Monogo_Currency>
        </models>
    </global>
</config>